<!--http://blog.sodhanalibrary.com/2015/07/header-design-with-angularjs-material-ui.html#.V_O9uZOLQ8Y-->
<!--http://blog.sodhanalibrary.com/2015/07/side-navigation-panel-design-using.html#.V_vtk5N95cA-->


<div class="header" >

    <md-sidenav class="md-sidenav-left"
                md-component-id='left' md-disable-backdrop="" md-whiteframe="4" flex="20">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Side Panel</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
                    <md-tooltip>Close Side Panel</md-tooltip>
                    <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content  layout-padding="" flex="" >
            <md-list>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE878;</md-icon>
                    <p>Acceuil</p>
                </md-list-item>
                <md-subheader class="md-no-sticky">Gestion de employée</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
                    <p> <a ui-sref="root.userall" >Liste d'employée</a></p>
                </md-list-item>

                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">GTA</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
                    <p> <a ui-sref="root.cralist">Compte Rendu d'Activité</a></p>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                    <p><a ui-sref="root.absencelist">Congé</a></p>
                </md-list-item>
                <md-subheader class="md-no-sticky">Paramétrage</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                    <p><a ui-sref="root.activitytypeall">Activité</a></p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <!--md-sidenav  hide show-xs class="md-sidenav-left-small"
                md-component-id='leftSmall' md-disable-backdrop="" md-whiteframe="1" flex="2">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <md-button aria-label="Close Side Panel" ng-click="closeSmallSideNavPanel()">
                    <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content  >
            <md-list>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE878;</md-icon>
                </md-list-item>

                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
                </md-list-item>

                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav-->

    <md-toolbar >
        <div class="md-toolbar-tools">
            <md-button hide show-gt-xs class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
                <md-tooltip>Side Panel</md-tooltip>
                <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
            </md-button>

            <md-button hide show-xs aria-label="Side Panel" ng-click="openSmallSideNavPanel()">
                <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
            </md-button>
            <h2 hide show-gt-xs>
                <span>Heading</span>
            </h2>

            <span flex></span>
            <md-button class="md-icon-button" aria-label="User">
                <md-tooltip>User</md-tooltip>
                <i class="material-icons md-24" >account_box</i>
            </md-button>

            <md-button class="md-icon-button" aria-label="User">
                <md-tooltip>Help</md-tooltip>
                <i class="material-icons">help</i>
            </md-button>
        </div>
    </md-toolbar>

</div>


<!--div layout="column" style="height:500px;" class="sidenavdemoBasicUsage">
    <section layout="row" flex="">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="lockLeft && $mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding="">
                <md-button ng-click="close()" class="md-primary" hide-gt-md="">
                    Close Sidenav Left
                </md-button>
                <p hide-md="" show-gt-md="">
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>
            </md-content>
        </md-sidenav>
        <md-content flex="" layout-padding="">
            <div layout="column" layout-fill="" layout-align="top center">
                <div>
                    <md-button ng-click="lockLeft=!lockLeft">{{ lockLeft ? 'Unlock' : 'Lock' }} Sidenav Left</md-button>
                </div>
            </div>
            <div flex=""></div>
        </md-content>
    </section>
</div-->




