<div layout="row">
    <div layout="column">
        <h2>User information</h2>
        {{craModify.craprovider}}
    </div>
    <div layout="column">
        <h2>CRA information</h2>
        {{craModify.initcra}}
    </div>
</div>
<div layout="row">
    <div class="md-padding" ng-cloak>
        <div>
            <h1 class="md-title">Pick an item below</h1>
            <div layout="row">
                <md-input-container>
                    <label>Items</label>
                    <md-select ng-model="craModify.selectedActivity" md-selected-text="craModify.getSelectedText(craModify.selectedActivity)">
                        <md-optgroup label="activities">
                            <md-option ng-repeat="activity in craModify.activities" ng-value="activity" >
                                {{activity}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <md-button class="md-raised md-primary">Add an activity</md-button>
    </div>

    <table >
        <tbody>
        <tr  >
            <td ng-repeat=" day in craModify.days">{{day.getDate()}}&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr >
            <td ng-repeat=" day in craModify.days">
                <div ng-switch="day.getDay()">
                    <div ng-switch-when="0"></div>
                    <div ng-switch-when="6"></div>
                    <div ng-switch-default>[ ]</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div layout="row">
    <md-input-container flex="20">
        <label>Comments</label>
        <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
    </md-input-container>

    <md-input-container flex="20">
        <label>Status</label>
        <md-select ng-model="craModify.selectedStatus" md-selected-text="craModify.getSelectedText(craModify.selectedStatus)">
            <md-optgroup label="Status">
                <md-option ng-repeat="status in craModify.status" ng-value="status" >
                    {{status}}
                </md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
    <div layout="column">
        <md-button class="md-raised md-primary">Valider</md-button>
    </div>
</div>




<!--div  class="gridListdemoBasicUsage" >
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height="200px" md-row-height="1:100">

        <md-grid-tile class="gray" md-rowspan="3" md-colspan="4" >
            <md-grid-tile-footer>
                <h3>#1: (3r x 4c)</h3>
                fsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsdd
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="green" md-rowspan="3" md-colspan="2">
            <md-grid-tile-footer>
                <h3>#2: (3r x 2c)</h3>
                fsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsdd

            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="red" md-rowspan="3" md-colspan="6">
            <md-grid-tile-footer>
                <h3>#2: (1r x 6c)</h3>
                fsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsd
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="blue" md-rowspan="3" md-colspan="4" >
            <md-grid-tile-footer>
                <h3>#1: (3r x 4c)</h3>
                fsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsd
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="yellow" md-rowspan="3" md-colspan="2">
            <md-grid-tile-footer>
                fsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsdfsddfsd
                <h3>#2: (3r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>
</div>
<style>
    .gridListdemoBasicUsage md-grid-list {
        margin: 8px; }

    .gridListdemoBasicUsage .gray {
        background: #f5f5f5; }

    .gridListdemoBasicUsage .green {
        background: #b9f6ca; }

    .gridListdemoBasicUsage .yellow {
        background: #ffff8d; }

    .gridListdemoBasicUsage .blue {
        background: #84ffff; }

    .gridListdemoBasicUsage .purple {
        background: #b388ff; }

    .gridListdemoBasicUsage .red {
        background: #ff8a80; }

    .gridListdemoBasicUsage md-grid-tile {
        transition: all 400ms ease-out 50ms; }
</style-->


