<!--div layout="row" layout-fill="">
    <div -->
<div flex layout="row">

        <md-sidenav class="md-sidenav-left" sidenav-push-in md-component-id='left'
                    md-disable-backdrop="" md-whiteframe="4"  md-is-locked-open="mainpanelCtrl.isSideNavOpen" >

            <md-content  layout-padding="" >
                <md-list>
                    <md-list-item>
                        <md-icon class="md-default-theme" class="material-icons">&#xE878;</md-icon>
                        <p>Acceuil</p>
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Gestion de employée</md-subheader>
                    <md-list-item>
                        <md-icon class="md-default-theme" class="material-icons">group</md-icon>
                        <p> <a ui-sref="root.userall" >Liste d'employée</a></p>
                    </md-list-item>

                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">GTA</md-subheader>
                    <md-list-item>
                        <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
                        <p> <a ui-sref="root.cralist">Compte Rendu d'Activité</a></p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon class="md-default-theme" class="material-icons">weekend</md-icon>
                        <p><a ui-sref="root.absencelist">Congé</a></p>
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Paramétrage</md-subheader>
                    <md-list-item>
                        <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                        <p><a ui-sref="root.activitytypeall">Activité</a></p>
                    </md-list-item>
                </md-list>

            </md-content>
        </md-sidenav>
    <!--/div-->

        <md-content  layout="column" ui-view flex></md-content>

</div>