<!--http://blog.sodhanalibrary.com/2015/07/header-design-with-angularjs-material-ui.html#.V_O9uZOLQ8Y-->
<!--http://blog.sodhanalibrary.com/2015/07/side-navigation-panel-design-using.html#.V_vtk5N95cA-->


<!--div class="header"  -->
<md-toolbar >
    <div class="md-toolbar-tools">
        <md-button hide show-gt-xs class="md-icon-button" aria-label="Side Panel" ng-click="headbarCtrl.openSideNavPanel()">
            <md-tooltip>Side Panel</md-tooltip>
            <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
        </md-button>

        <h2 hide show-gt-xs>
            <span>Oscra</span>
        </h2>

        <span flex></span>
        <md-button class="md-icon-button" aria-label="User">
            <md-tooltip>Help</md-tooltip>
            <i class="material-icons">help</i>
        </md-button>

        <md-button class="md-icon-button" aria-label="User" ng-click="">
            <md-tooltip>User</md-tooltip>
            <ai class="material-icons md-24" >account_box</ai>
        </md-button>
    </div>
</md-toolbar>
<!--/div-->





