<!--http://blog.sodhanalibrary.com/2015/07/header-design-with-angularjs-material-ui.html#.V_O9uZOLQ8Y-->
<!--http://blog.sodhanalibrary.com/2015/07/side-navigation-panel-design-using.html#.V_vtk5N95cA-->
<!--https://codepen.io/kyleledbetter/pen/gbQOaV?editors=1111-->
<md-toolbar class=" md-hue-2">
    <div class="md-toolbar-tools">

        <h2 hide show-gt-xs>
            <span>Oscra</span>
        </h2>

        <span flex></span>
        <md-button class="md-icon-button" aria-label="Help">
            <md-tooltip>Help</md-tooltip>
            <i class="material-icons">help</i>
        </md-button>

        <md-button class="md-icon-button" aria-label="User" ng-click="headbarCtrl.login()">
            <md-tooltip>User</md-tooltip>
            <ai class="material-icons md-24" >account_box</ai>
        </md-button>
    </div>
</md-toolbar>






