<link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<h2>Activity List</h2>

<div ng-cloak="" class="tabsdemoStaticTabs"  >
    <md-content class="md-padding">
        <md-tabs class="md-accent" md-selected="activityList.selectedIndex" md-dynamic-height md-border-bottom>
            <md-tab id="tab1">
                <md-tab-label>User</md-tab-label>
                <md-tab-body>
                    <h2>User List</h2>
                    <md-divider></md-divider>
                        <md-radio-group ng-model="selectedId" >
                            <div  class="row" ng-repeat=" user in activityList.users">
                                <div flex layout='row' layout-padding layout-align="start center" >
                                    <md-radio-button flex
                                                     ng-value="user.id"
                                                     class="md-primary" >
                                        {{user.firstName}}
                                    </md-radio-button>
                                    <div flex style="max-width:200px;">
                                        {{user.lastName}}
                                    </div>
                                </div>
                            </div>
                        </md-radio-group>
                    <md-divider></md-divider>
                    <div class="summary" flex layout="row" layout-align="space-between center">
                        <div flex-initial>
                            <span class="title">Selected User</span>: <span class="md-checked">{{selectedId}}</span>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2" ng-disabled="activityList.secondLocked" md-on-select="activityList.selectTab2()">
                <md-tab-label>CRA</md-tab-label>
                <md-tab-body>
                    <h2>CRA List</h2>
                    <!--http://codepen.io/alimista15/pen/WvRXOx-->
                    <md-input-container flex-gt-sm="">
                        <label>Start Date</label>
                        <md-datepicker ng-model="a"></md-datepicker>
                    </md-input-container>
                    <md-input-container flex-gt-sm="">
                        <label>End date</label>
                        <md-datepicker ng-model="b"></md-datepicker>
                    </md-input-container>
                    <mdt-table table-card="{title: 'Nutritions'}">
                        <mdt-header-row>
                            <mdt-column align-rule="left">Mois</mdt-column>
                            <mdt-column align-rule="right">Validation</mdt-column>
                            <mdt-column align-rule="right">Statut</mdt-column>
                            <mdt-column align-rule="right">Mis a jour par</mdt-column>
                            <mdt-column align-rule="right">Date a mis a jour</mdt-column>
                        </mdt-header-row>
                        <mdt-row >
                            <mdt-cell>nutrition.name</mdt-cell>
                            <mdt-cell>nutrition.calories</mdt-cell>
                            <mdt-cell>nutrition.fat</mdt-cell>
                            <mdt-cell>nutrition.carbs</mdt-cell>
                            <mdt-cell>nutrition.protein</mdt-cell>
                        </mdt-row>
                    </mdt-table>
                </md-tab-body>
            </md-tab>

            <md-tab id="tab3" ng-disabled="activityList.thirdLocked" md-on-select="activityList.selectTab3()">
                <md-tab-label >Activity</md-tab-label>
                <md-tab-body>
                    <h2>Activity List</h2>
                    <md-divider></md-divider>
                    <md-radio-group ng-model="a.selectedId" >
                        <div  class="row" ng-repeat=" activity in activityList.activities">
                            <div flex layout='row' layout-padding layout-align="start center" >
                                <div>
                                    {{activity.start}}
                                </div>
                                <div flex style="max-width:200px;">

                                    {{activity.end}}
                                </div>
                            </div>
                        </div>
                    </md-radio-group>
                    <md-divider></md-divider>
                    <div class="summary" flex layout="row" layout-align="space-between center">
                        <div flex-initial>
                            <span class="title">mark</span>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>

</div>
<style>
    .tabsdemoStaticTabs md-tab-content {
        padding: 25px; }
    /*
    .tabsdemoStaticTabs md-tab-content:nth-child(1) {
        background-color: #42A5F5; }
    .tabsdemoStaticTabs md-tab-content:nth-child(2) {
        background-color: #689F38; }
    .tabsdemoStaticTabs md-tab-content:nth-child(3) {
        background-color: #26C6DA; }
*/
    .tabsdemoStaticTabs .after-tabs-area > span {
        margin-top: 25px;
        padding-right: 15px;
        vertical-align: middle;
        line-height: 30px;
        height: 100px; }

    .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
        margin-top: 26px;
        margin-left: 0; }
/* for smart table */
    .st-sort-ascent:before{
        content: '\25B2';
    }

    .st-sort-descent:before{
        content: '\25BC';
    }
</style>

<!--p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
    In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
</p-->
