
<h2>Activity List</h2>

<div ng-cloak="" class="tabsdemoStaticTabs"  >
    <md-content class="md-padding">
        <md-tabs class="md-accent" md-selected="activityList.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
            <md-tab id="tab1">
                <md-tab-label>User</md-tab-label>
                <md-tab-body>
                    <h2>User List</h2>
                    <md-divider></md-divider>
                        <md-radio-group ng-model="selectedId" >
                            <div  class="row" ng-repeat=" user in activityList.users">
                                <div flex layout='row' layout-padding layout-align="start center" >
                                    <md-radio-button flex
                                                     ng-value="user.id"
                                                     class="md-primary" >
                                        {{user.firstName}}
                                    </md-radio-button>
                                    <div flex style="max-width:200px;">
                                        {{user.lastName}}
                                    </div>
                                </div>
                            </div>
                        </md-radio-group>
                    <md-divider></md-divider>
                    <div class="summary" flex layout="row" layout-align="space-between center">
                        <div flex-initial>
                            <span class="title">Selected User</span>: <span class="md-checked">{{selectedId}}</span>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2" ng-disabled="activityList.secondLocked" md-on-select="selectTab2()">
                <md-tab-label>CRA</md-tab-label>
                <md-tab-body>
                    <h2>CRA List</h2>
                    <md-tab>
                       
                    </md-tab>
                </md-tab-body>
            </md-tab>

            <md-tab id="tab3" ng-disabled="activityList.thirdLocked" md-on-select="selectTab3()">
                <md-tab-label >Activity</md-tab-label>
                <md-tab-body>
                    <h2>Activity List</h2>
                    <md-divider></md-divider>
                    <md-radio-group ng-model="a.selectedId" >
                        <div  class="row" ng-repeat=" activity in activityList.activities">
                            <div flex layout='row' layout-padding layout-align="start center" >
                                <div>
                                    {{activity.start}}
                                </div>
                                <div flex style="max-width:200px;">

                                    {{activity.end}}
                                </div>
                            </div>
                        </div>
                    </md-radio-group>
                    <md-divider></md-divider>
                    <div class="summary" flex layout="row" layout-align="space-between center">
                        <div flex-initial>
                            <span class="title">mark</span>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>


</div>
<style>
    .tabsdemoStaticTabs md-tab-content {
        padding: 25px; }
    /*
    .tabsdemoStaticTabs md-tab-content:nth-child(1) {
        background-color: #42A5F5; }
    .tabsdemoStaticTabs md-tab-content:nth-child(2) {
        background-color: #689F38; }
    .tabsdemoStaticTabs md-tab-content:nth-child(3) {
        background-color: #26C6DA; }
*/
    .tabsdemoStaticTabs .after-tabs-area > span {
        margin-top: 25px;
        padding-right: 15px;
        vertical-align: middle;
        line-height: 30px;
        height: 100px; }

    .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
        margin-top: 26px;
        margin-left: 0; }
</style>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
    In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
</p>
