
<div  layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
    <md-card  class="md-padding">
        <h2>{{$ctrl.title}}</h2>
        <md-content layout-gt-sm="row" layout-padding="" ng-hide="true">
            <div>
                <md-input-container >
                    <label>Id</label>
                    <input ng-model="$ctrl.user.id"  disabled="">
                </md-input-container>
            </div>
        </md-content>

        <md-content layout-padding="">
            <div>
                <form name="userForm" ng-submit="$ctrl.submit()">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>First name</label>
                            <input ng-model="$ctrl.user.firstName">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Last name</label>
                            <input ng-model="$ctrl.user.lastName">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Mot de passe</label>
                            <input ng-model="$ctrl.user.password" required="" type="password">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Confirmation le mot de passe</label>
                            <input ng-model="$ctrl.user.confirmationpassword" required="" type="password">
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input required="" type="email" name="Email" ng-model="$ctrl.user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                        <div ng-messages="email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Mobile Number</label>
                            <input name="phoneNumber" ng-model="$ctrl.user.phoneNumber" placeholder="123457890" required="" ng-pattern="/^[0-9]{10}$/" md-maxlength="10">

                            <div ng-messages="userForm.phoneNumber.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">You must supply a mobile phone number.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid mobile phone number.
                                </div>
                                <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Fix Number</label>
                            <input name="fixNumber" ng-model="$ctrl.user.fixNumber" placeholder="123457890"  ng-pattern="/^[0-9]{10}$/" md-maxlength="10">

                            <div ng-messages="userForm.fixNumber.$error" role="alert" multiple="">
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid fix phone number
                                </div>
                                <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout-gt-xs="row">
                        <md-input-container>
                            <label>Position</label>
                            <input ng-model="$ctrl.user.position">
                        </md-input-container>

                        <md-input-container flex-gt-sm="">
                            <label>Birthday</label>
                            <md-datepicker ng-model="$ctrl.user.birthday"></md-datepicker>
                        </md-input-container>
                    </div>

                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Civility</label>
                            <md-select ng-model="$ctrl.user.civility">
                                <md-option value="MALE">
                                    MALE
                                </md-option>
                                <md-option value="FEMALE">
                                    FEMALE
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container >
                            <label>Role</label>
                            <input ng-model="$ctrl.user.role" ng-init="role='USER'" disabled="">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block">
                            <label>Numero</label>
                            <input ng-model="$ctrl.user.numero">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Road</label>
                            <input ng-model="$ctrl.user.road">
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Complement</label>
                        <input ng-model="$ctrl.user.supplementaryAddress">
                    </md-input-container>


                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>City</label>
                            <input ng-model="$ctrl.user.city">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Postal Code</label>
                            <input name="$ctrl.user.postalCode" ng-model="$ctrl.user.postalCode" placeholder="12345" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                            <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                    code.
                                </div>
                                <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div>
                        <md-button class="md-raised md-primary"  type="submit">submit</md-button>
                    </div>

                </form>
            </div>
        </md-content>
    </md-card>
</div>

<div class="loading" ng-show="$ctrl.isloading">Loading&#8230;</div>

