<html ng-app='StarterApp'>
<body layout='column' ng-controller='AppCtrl'>
<div class='main-fab'>
    <md-button class="md-fab md-accent">+</md-button>
</div>
<md-toolbar class="md-tall" layout='column'>
    <span flex></span>
    <div class="md-toolbar-tools">
        <div layout="row" flex="flex" class="fill-height">
            <div ng-hide="toggleSearch" class="md-toolbar-item md-breadcrumb"><span ng-click="toggleSearch = !toggleSearch">Angular Material Table</span></div><span flex="flex" ng-hide="toggleSearch"></span>
            <md-input-container flex="flex" style="padding-left:88px;" ng-show="toggleSearch">
                <input id="searchinput" type="text" ng-model="search" show-focus="toggleSearch"/>
            </md-input-container>
            <div layout="row" class="md-toolbar-item md-tools"><a href="#" ng-click="toggleSearch = !toggleSearch" class="md-button md-default-theme"><i class="ion-android-search"></i></a></div>
        </div>
    </div>
</md-toolbar>
</body>
</html>